{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <h1>Название книги </h1>
        <h1>"{{ book.title}}"</h1>
    </div>
    <div class="row text-center">
        <p><strong>Автор: {{ book.author }}</strong>
    </div>
    <a href="/static/images/{{ book.photo }}"
            class="btn text-center"
            target="blank">
        <img src="/static/images/{{ book.photo }}" alt="connect"
         style="max-height:200px">
    </a>
    <div class="row text-center">
        <div class="col">
            <p><strong>Цена: {{ book.price }}</strong>
        </div>
    </div>
    <div class="row my-2">
            <p><strong>Аннотация: {{ book.description }}</strong>
    </div>
    <div class="row my-2">
        <div class="col mx-2 bg-primary text-white">
            <p><strong>Жанр: {{ book.genre }}</strong>
        </div>
        <div class="col mx-2 bg-primary text-white">
            <p><strong>ISBN: {{ book.isbn }}</strong>
        </div>
        <div class="col mx-2 bg-primary text-white">
            <p><strong>Год издания: {{ book.year }}</strong>
        </div>
        <div class="col mx-2 bg-primary text-white">
            <p><strong>Издательство: {{ book.publisher }}</strong>
        </div>
    </div>
</div>
{% endblock content %}